.App{
  border-radius: 18px;
  overflow: hidden;
  font-family: sans-serif;
}
.chatOutterWrapper a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
.chatOutterWrapper a:hover {
  color: #535bf2;
}
.chatOutterWrapper button {
  color: black;
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
}
.chatOutterWrapper button:hover {
  border-color: #646cff;
  cursor: pointer;
}
.chatOutterWrapper button:focus,
.chatOutterWrapper button:focus-visible {
  outline: none -webkit-focus-ring-color;
}

.cs-message__content{
  color: black;
  background-color: #ededed;
}

.cs-message-list{
  height: 80%;
}
.cs-chat-container .cs-message-input{
  margin-top: inherit;
}

.cs-message--outgoing .cs-message__content{

  background-color: #218aff;
  color: white;
  border-radius: 12px; /* Set the border-radius for rounded corners */
}
.cs-button--send{
  color: #218aff;
}
.chatOutterWrapper {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  text-align: left;
  border-radius: 15px;
  overflow: hidden;
  border: none;
  max-height: 500px;
  max-width: 380px;
  transition: height 0.3s ease, box-shadow 0.3s ease;
}
.cs-message-list .cs-message.cs-message--outgoing{
  margin-top: 8px;
  margin-bottom: 8px;
}
.cs-main-container{
  border: none;
}
.preset-holder{
  padding-left: 8px;
  display: flex;
}

.preset-holder button{
  height: max-content;
  margin-right: 5px;
  z-index: 1;
  margin-top: -35px;
  font-size: 14px;
  font-weight: 500;
  background-color: white;
  border-radius: 15px;
  padding: 4px 10px;
  border: solid 1px rgb(33,138,255);
  color: #218aff;
}


.chat-bot-ai-form-container  h2{
  font-size: 20px;
}

.chat-bot-ai-form-container{
  padding: 20px;
  width: 340px;
  font-family: sans-serif;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

}
.chat-bot-ai-form-container form{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}
.chat-bot-ai-form-container form input{
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
  background-color: rgba(0, 0, 0, 0.05);
 
  }
.chat-bot-ai-form-container form textarea{
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid gray;
  outline: none;
  background-color: rgba(0, 0, 0, 0.05);
}
.chat-bot-ai-form-container .fm-cl-btn{
  text-align: center;
}
.chat-bot-ai-form-container .fm-cl-btn .close-btn-chat-ai{
  font-size: 12px;
  text-decoration: underline;
  color: #218aff;
}

.chat-bot-ai-form-container form .form-sbt-btn{
  background-color: #218aff;
  padding: 10px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.disclaimer-chat-ai-p{
  font-size: 10px;;
}

.chat-bubble-welcome-message{
  color:  rgb(0, 120, 254);
  margin-left: 25%;
  background: rgb(240, 240, 240);
  position: fixed;
  padding: 10px;
  border-radius: 10px;
  bottom: 72px;
  right: 80px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  font-size: 14px;
}
.chat-bubble-welcome-message:after{
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -4px;
  right: 0px;
  width: 10px;
  height: 20px;
  background: rgb(240, 240, 240);
  border-bottom-left-radius: 15px;
  

}
.chat-bubble-welcome-message.show {
  opacity: 1;
  transform: translateY(0);
}

.typing-indicator {
  will-change: transform;
  width: auto;
  border-radius: 50px;
  padding: 5px;
  display: table;
  margin: 0 auto;
  position: relative;
  animation: 2s bulge infinite ease-out;
}

.typing-indicator span {
  height: 8px;
  width: 8px;
  float: left;
  margin: 0 1px;
  background-color: #9E9EA1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}

.typing-indicator span:nth-of-type(1) {
  animation: 1s blink infinite 0.3333s;
}

.typing-indicator span:nth-of-type(2) {
  animation: 1s blink infinite 0.6666s;
}

.typing-indicator span:nth-of-type(3) {
  animation: 1s blink infinite 1s;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}

@media (max-width: 450px) {
  .chatOutterWrapper.mobile-chat{
    top: 0;
    right: 0;
    left: 0;
    margin: 10px;
  }
  .chat-bot-ai-form-container{
    width: inherit;
    margin: auto;
  }
}